@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


.styling {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    margin-top:10px;
    margin-bottom: 100px;
}

.styling-summry {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 400px;
    margin-left: 170px;
    background-color: #FAE1B2;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.swiper-styling{
    height: 500px;
    width: 830px;
    margin-right: 110px;
}

.summry-header {
    font-size:  30px;
    font-weight: 300;
    margin: 80px 0 50px 0;
    font-family: 'Caveat', cursive;
}

img {
    height: 100%;
    width: 100%;
}

.summry-header h2 {
    font-weight: inherit;
}

