@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');



.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #f4d8a5;
    font-family: 'Roboto', sans-serif;
}

.contact-container {
    display: flex;
    width: 70%;
    height: 300px;
}

.contact-header {
    width: 50%;
    font-weight: 400;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}

.contact-header h1 {
    font-weight: inherit;
    margin-bottom: 30px;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Caveat', cursive;
}

.copy-rights {
    display: flex;
    text-align: center;
    margin-top: 40px;
    margin-right: 100px;
    color: gray;
    font-size: 13px;
    font-weight: 100;
}

.copy-rights p {
    margin-left: 3px;
}

.submit-true {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 30px;
    height: 300px;
    color: white;
}

.submit-header {
    font-size: 60px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-family: 'Caveat', cursive;
}

.submit-p{
    font-size: 20px;
    letter-spacing: 2px;
}




